<div class="container">
  <section class="welcome" style="padding-top:20px">
    <h2 class="welcome-title">
      Bienvenue sur BEST 
      <span class="badge rounded-pill bg-info text-dark"><%= alert %></span>
      <span class="badge rounded-pill bg-info text-dark"><%= notice %></span>
    </h2>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum qui rem
      aliquam facere dolores illum porro alias minus eos facilis nobis dicta
      architecto non suscipit excepturi totam modi, sed adipisci!orem ipsum
      dolor, sit amet consectetur adipisicing elit. Rerum qui rem aliquam facere
      dolores illum porro alias Lorem ipsum dolor, sit amet consectetur
      adipisicing elit. Rerum qui rem aliquam facere dolores illum porro alias
      minus eos facilis nobis dicta architecto non suscipit excepturi totam
      modi, sed adipisci!orem ipsum dolor, sit amet consectetur adipisicing
      elit. Rerum qui rem aliquam facere dolores illum porro alias Lorem ipsum
      dolor, sit amet consectetur adipisicing elit. Rerum qui rem aliquam facere
      dolores illum porro alias minus eos facilis nobis dicta architecto non
      suscipit excepturi totam modi, sed adipisci!orem ipsum dolor, sit amet
      consectetur adipisicing elit. Rerum qui rem aliquam facere dolores illum
      porro alias Lorem ipsum dolor, sit amet consectetur adipisicing elit.
      Rerum qui rem aliquam facere dolores illum porro alias minus eos facilis
      nobis dicta architecto non suscipit excepturi totam modi, sed
      adipisci!orem ipsum dolor, sit amet consectetur adipisicing elit. Rerum
      qui rem aliquam facere dolores illum porro alias minus eos facilis nobis
      dicta architecto non suscipit excepturi totam modi, sed adipisci!orem
      ipsum dolor, sit amet co
    </p>
  </section>
  <section class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-title bg-light">
          <h5 class="text-center">Card title</h5>
        </div>
        <div class="card-body">
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, nesciunt
            culpa in laboriosam adipisci officiis reprehenderit dignissimos ipsam
            omnis minus quae aliquam ad repudiandae architecto voluptates error
            molestiae quibusdam rerum!
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-title bg-light">
          <h5 class="text-center">Card title</h5>
        </div>
        <div class="card-body">
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, nesciunt
            culpa in laboriosam adipisci officiis reprehenderit dignissimos ipsam
            omnis minus quae aliquam ad repudiandae architecto voluptates error
            molestiae quibusdam rerum!
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-title bg-light">
          <h5 class="text-center">Card title</h5>
        </div>
        <div class="card-body">
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, nesciunt
            culpa in laboriosam adipisci officiis reprehenderit dignissimos ipsam
            omnis minus quae aliquam ad repudiandae architecto voluptates error
            molestiae quibusdam rerum!
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-title bg-light">
          <h5 class="text-center">Card title</h5>
        </div>
        <div class="card-body">
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, nesciunt
            culpa in laboriosam adipisci officiis reprehenderit dignissimos ipsam
            omnis minus quae aliquam ad repudiandae architecto voluptates error
            molestiae quibusdam rerum!
          </p>
        </div>
      </div>
    </div>
  </section>
 
</div>
