<div class="container">
  <section class="welcome">
    <h1 class="welcome-title">Bienvenue sur BEST</h1>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum qui rem
      aliquam facere dolores illum porro alias minus eos facilis nobis dicta
      architecto non suscipit excepturi totam modi, sed adipisci!orem ipsum
      dolor, sit amet consectetur adipisicing elit. Rerum qui rem aliquam facere
      dolores illum porro alias Lorem ipsum dolor, sit amet consectetur
      adipisicing elit. Rerum qui rem aliquam facere dolores illum porro alias
      minus eos facilis nobis dicta architecto non suscipit excepturi totam
      modi, sed adipisci!orem ipsum dolor, sit amet consectetur adipisicing
      elit. Rerum qui rem aliquam facere dolores illum porro alias Lorem ipsum
      dolor, sit amet consectetur adipisicing elit. Rerum qui rem aliquam facere
      dolores illum porro alias minus eos facilis nobis dicta architecto non
      suscipit excepturi totam modi, sed adipisci!orem ipsum dolor, sit amet
      consectetur adipisicing elit. Rerum qui rem aliquam facere dolores illum
      porro alias Lorem ipsum dolor, sit amet consectetur adipisicing elit.
      Rerum qui rem aliquam facere dolores illum porro alias minus eos facilis
      nobis dicta architecto non suscipit excepturi totam modi, sed
      adipisci!orem ipsum dolor, sit amet consectetur adipisicing elit. Rerum
      qui rem aliquam facere dolores illum porro alias minus eos facilis nobis
      dicta architecto non suscipit excepturi totam modi, sed adipisci!orem
      ipsum dolor, sit amet co
    </p>
  </section>
  <section class="grid-section">
    <div class="grid-item">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, commodi
      minima? Quis unde voluptatum inventore sint consequuntur sit eum velit
      alias accusantium ipsam a aut, et accusamus ipsum eveniet animi?
    </div>
    <div class="grid-item">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, nesciunt
      culpa in laboriosam adipisci officiis reprehenderit dignissimos ipsam
      omnis minus quae aliquam ad repudiandae architecto voluptates error
      molestiae quibusdam rerum!
    </div>
    <div class="grid-item">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere similique
      quasi amet sapiente perspiciatis ab cupiditate, dignissimos asperiores,
      doloribus sunt dolores ex enim laboriosam porro ipsa aliquid. Vel, minima
      debitis.
    </div>
    <div class="grid-item"></div>
  </section>

  <section class="auth-section">
   <a href="<%= new_user_path%>">Inscription</a>
  </section>
 
</div>
