<section class="container">
    <div class="row pt-4">
        <div class="col-md-3"></div>
        <div class="col-md-6 main">
            <h2>EDIT AN ARTICLE</h2>
            <hr>
            <%= render "partials/form" %>
        </div>
        <div class="col-md-3"></div> 
    </div>
</section>