@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Nanum+Gothic&display=swap&amily=Mulish');

body{
  //font-family: 'Nanum Gothic', sans-serif;
  font-family: 'Mulish', sans-serif;
}
section p {
  text-align: justify;
}
section .card-title{
  background-color: #fff;
  text-align: center;
  border-radius: 5px 5px 0 0;
}
section .card{
  background-color: #ffda8f;
  border: 2px solid #f5bb48;
  margin-bottom: 20px;
}
.navbar-brand{
  font-family: 'Abril Fatface', cursive;
  font-size:30px;
}
.navbar{
  background-color:#ffda8f;
}
.grid-section {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  padding: 20px 50px;
}
.grid-item {
  height: 25vh;
  background-color: #ccc;
  padding: 10px;
  text-align: justify;
  display: flex;
  align-items: center;
}